<div class="container py-5">
  <div class="row mt-3 bg-light black-border">
    <div class="col-4  py-3", style="max-width: 300px;">
      <h2>mementos</h2>
      <%= image_tag 'photo-album_16214.png', size:"200x200", style:"object-fit: cover;" %>
    </div>
    <div class="col-7  py-3", style="min-width: 300px;">
      思い出の品を記録として残すサイトです。<br>
      また、他のユーザーの投稿を閲覧し、コメントやいいねをすることで<br>
      思い出を共有することができます。
    </div>
  </div>
</div>