<div class="container py-5">
  <div class="blue-border bg-light pl-2" style="max-width: 400px;">
    <p>あなたの思い出の品の記録を残し、共有しよう</p>
    <h1>mementos</h1>
  </div>
  <h3 class="py-4 pl-2 my-5 brown-border bg-light" style="max-width: 250px;">New Posts</h3>
  <div class="row my-2">
      
<!--        最近の投稿を以下に表示
        投稿日の最新順に並べ替えて5件表示
        必要な情報はpostsモデルの画像、タイトル、ユーザーidに紐づいたユーザーネーム
-->  <% if @posts.present? %>
       <% @posts.each do |post| %>
        <div class="mb-3 ml-3 pt-3 red-border bg-light" style="width: 250px;">
          <%= image_tag post.get_post_image(200,200), class:"picture d-block mx-auto" %>
          <div class="px-3 mt-2">
            <p class="border-bottom border-primary">
              <i class="fa-solid fa-bookmark"></i>
              <%= link_to post.title.truncate(10), post_path(post.id) %>
            </p>
            <p class="border-bottom border-primary">
              <i class="fa-solid fa-file-lines"></i>
              <%= post.body.truncate(50) %>
            </p>
            <p class="border-bottom border-primary">
              <i class="fa-regular fa-calendar-days"></i>
              <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
            </p>
          </div>
        </div>
       <% end %>
     <% end %>
    </div>
  </div>
</div>