<div>
  <p>あなたの思い出の品の記録を残し、共有しよう</p>
  <h1>mementos</h1>
</div>
<div class="row mt-2">
  <div class="col-sm-10 col-md-8">
    <h2>New Posts</h2>
      最近の投稿を以下に表示
      投稿日の最新順に並べ替えて5件表示
      必要な情報はpostsモデルの画像、タイトル、ユーザーidに紐づいたユーザーネーム
  </div>
</div>
<div class="row mt-2">
  <div class="col-sm-10 col-md-8">
    <h2>mementosとは？</h2>
    <p>
      サイトのコンセプトを書き込む
    <p>
  </div>
</div>
