<div class="container mt-5">
  <% if @followed_users.exists? %>
    <h3>フォローしたユーザー一覧</h3>
  <% else %>
    <h3>まだだれもフォローしてません。</h3>
  <% end %>
  <% @followed_users.each do |user| %>
    <table class="mt-2">
      <tr>
        <td class="w-25">
          <% if user.profile_image.attached? %>
            <%= image_tag user.profile_image, size: "100x100" %>
          <% else %>
            <%= image_tag 'no_image.jpeg' %>
          <% end %>
          <p>
            <%= link_to user.name, user_path(user.id) %>
          </p>
        </td>
        <td class="w-75 align-top pl-4">
          <i class="fa-solid fa-comment"></i>
          <%= user.introduction %>
        </td>
      </tr>
    </table>
  <% end %>
</div>