@use '~bootstrap/scss/bootstrap';


a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

li{
  margin-bottom: 20px;
}

.navbar-collapse{
  z-index: 1025;
}

.nav-item{
  padding-right: 10px;
  padding-bottom: 15px;
}

.navbar-collapse.show{
  padding-left: 15px;
  background-color: rgb(35, 6, 6);
  opacity: 0.75;
}

.red-border{
  border: 15px solid rgb(152, 0, 0);
  box-shadow: 2px 2px 4px rgba(1, 1, 5, .8);
}

.blue-border{
  border: 15px solid rgb(0, 102, 190);
  box-shadow: 2px 2px 4px rgba(1, 1, 5, .8);
}

.brown-border{
  border: 15px solid rgb(136, 88, 32);
  box-shadow: 2px 2px 4px rgba(1, 1, 5, .8);
}

.black-border{
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 4px rgba(1, 1, 5, .8);
}

.picture{
  border: 1px solid #000;
  box-shadow: 1px 2px 2px 1px rgba(1, 1, 5, .6);
  object-fit: cover;
}

.sample-picture{
  border: 1px solid #000;
  box-shadow: 1px 2px 2px 1px rgba(1, 1, 5, .6);
}

.flash-message{
  max-width: 300px;
  margin-left: 15px;
}

body{
  min-height: 100vh;
  width: 100vw;
  position: relative;
  top:0;
}

header{
  width: 100vw;
  height: 150px;
  top: 0;
}

footer{
  width: 100vw;
  height: 100px;
  position: absolute;
  bottom: -100px;
  left: 0;
}