@use '~bootstrap/scss/bootstrap';


a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

li{
  margin-bottom: 20px;
}

.navbar-collapse{
  z-index: 1025;
}

.nav-item{
  padding-right: 10px;
  padding-bottom: 15px;
}

.navbar-collapse.show{
  padding-left: 15px;
  background-color: rgb(35, 6, 6);
  opacity: 0.75;
}

.red-border{
  border: 15px solid rgb(152, 0, 0);
  box-shadow: 2px 2px 4px;
}

.blue-border{
  border: 15px solid rgb(0, 102, 190);
  box-shadow: 2px 2px 4px;
}

.brown-border{
  border: 15px solid rgb(136, 88, 32);
  box-shadow: 2px 2px 4px;
}

.black-border{
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 4px;
}
