<h3>管理者画面</h3>
<div class="container">
  <div class="dashboard mx-auto pt-3">
    <div class="dashboard-item">
      <h4>本日のアクセス数</h4>
      <p><%= @today_visits %></p>
    </div>
    <div class="dashboard-item">
      <h4>累計アクセス数</h4>
      <p><%= @total_visits %></p>
    </div>
    <div class="dashboard-item">
      <h4>本日の投稿数</h4>
      <p><%= @today_posts %></p>
    </div>
    <div class="dashboard-item">
      <h4>累計投稿数</h4>
      <p><%= @total_posts %></p>
    </div>
  </div>
</div>